﻿@{
    
    var version = "?v=1";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kenos</title>
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.min.js")@version"></script>
    <script src="@Url.Content("~/Content/bootstrap-3.3.5/js/bootstrap.min.js")@version"></script>

    <script src="@Url.Content("~/Content/noty/jquery.noty.packaged.min.js")@version"></script>
    <script src="@Url.Content("~/Content/noty/themes/kenos.js")@version"></script>
    <script src="@Url.Content("~/Content/noty/notyHelper.js")@version"></script>

    <script src="@Url.Content("~/Content/js/jquery.blockUI.js")@version"></script>
    <script src="@Url.Content("~/Content/js/jquery.extensions.js")@version"></script>

    
    <script src="@Url.Content("~/Content/js/jquery.cookie-1.4.1.min.js")@version"></script>
    


    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-3.3.5/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-3.3.5/css/bootstrap-theme.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/main.css")" />
     
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/js/respond.min.js")"></script>
    <script src="@Url.Content("~/Content/js/html5shiv.js")"></script>
    <![endif]-->

    @RenderSection("Head", false)
</head>
<body>

    <nav class="navbar navbar-default" role="navigation" >
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kenos <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Index", "Admin")">Instalaciones</a></li>
                    </ul>
                </li> 
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
