﻿@model  IEnumerable<IGrouping<string, Kenos.Web.Models.InstanciaModel>>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    @foreach (IGrouping<string, Kenos.Web.Models.InstanciaModel> item in Model)
    {
        var id = item.Key.Replace(".", "_");
        var css = "";

        if (item.Key == Model.LastOrDefault().Key)
        {
            css = " in";
        }

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="group_@id">
                <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#@id" aria-expanded="true" aria-controls="@id">
                    <a>
                        @item.Key&nbsp;<span class="pull-right badge">@item.Count()</span>
                    </a>

                </h4>
            </div>
            <div id="@id" class="panel-collapse collapse @css" role="tabpanel" aria-labelledby="group_@id">
                <div class="panel-body list-group">
                    @foreach (var instance in item)
                    {
                        <button type="button" class="list-group-item instancia">@instance.MachineName</button>
                            }
                </div>
            </div>
        </div>
            }
</div>
