﻿@model Kenos.Web.Models.TabUpdateResponseModel

<div class="form">

    <div class="form-group">
        <label>Releases path:</label>
        <label class="form-control">@Model.ReleasePath</label>
    </div>
    <div class="form-group">
        <label>Releases:</label>
        @Html.DropDownList("ddlRelease", Model.Releases, new {@class= "form-control"})
    </div>
     <div class="form-group">
        <label>Versiones:</label>
        @Html.DropDownList("ddlVersion", Model.Versiones, "-- Version --", new {@class= "form-control"})
    </div>

</div>

<div class="row">
    <div id="divArchivosNuevo" class="col-xs-6"><h2>Versión a instalar</h2>
        <ul id="listArchivosNuevos">

        </ul>
        
    </div>
    <div id="divArchivosActual" class="col-xs-6">
        <h2>Versión Actual</h2>
        <ul id="listArchivosDestino">
            
        </ul>
    </div>
    
</div>
<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-default btn-invertir-archivos">Invertir seleccion</button>
        <button id="btnActualizar" class="btn btn-primary">Actualizar >></button>
    </div>
</div>
